
form{
    margin: 20px;
} 

/* footer{
    background: rgb(14,103,164);
    background: linear-gradient(90deg, rgba(14,103,164,1) 0%, rgba(78,168,184,1) 50%, rgba(78,168,184,1) 100%);
    position: relative;
    bottom: 0;
    width: 100%;
} */
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
} 

#contacto {
    padding-right: 1rem;
    background: #e9ecef;
} 

.textinput {
    float: left;
    width: 100%;
    min-height: 75px;
    outline: none;
    resize: none;
    border: 1px solid grey;
}

.btnComent {
    margin-top: 1rem;
}

.contactdata{
    margin-left: 1.25rem;
}