footer{
    background: rgb(14,103,164);
    background: linear-gradient(90deg, rgba(14,103,164,1) 0%, rgba(78,168,184,1) 50%, rgba(78,168,184,1) 100%);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.detailContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imgDetail {
    margin: 1rem;
}