/*!
 * Start Bootstrap - Shop Homepage (https://startbootstrap.com/template/shop-homepage)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-shop-homepage/blob/master/LICENSE)
 */


 /*NAVBAR STYLE*/

#navBarStyle {
    background: rgb(14,103,164);
    background: linear-gradient(90deg, rgba(14,103,164,1) 0%, rgba(78,168,184,1) 50%, rgba(78,168,184,1) 100%);
  }

  
  /*BODY*/
body {
  padding-top: 6rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#toggler-icon{
  color:white;
  font-size:40px;
}

/* .row {
  display: flex;
  flex-direction: row;
} */

#filtros {
  margin: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#filtro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.nav-item {
  margin-left: 1rem;
}

/* Navbar links hover */
/* a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after { 
  width: 100%; 
  left: 0; 
} */

@media only screen and (max-width: 320px) {
    #div_carousel {
      width: 100%;
    }
}

@media only screen and (max-width: 990px) {
  #div_carousel {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  #toggler-icon {
      display: flex;
  }
}

@media screen and (min-width: 992px) {
  #toggler-icon {
      display: none;
  }
}



/*FOOTER */
.footerContainer {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}
footer{
    background: rgb(14,103,164);
    background: linear-gradient(90deg, rgba(14,103,164,1) 0%, rgba(78,168,184,1) 50%, rgba(78,168,184,1) 100%);
    position: relative;
    bottom: 0;
    width: 100%;
  }

/*dropdown CATEGORIRES and SEARCH*/
.dropbtn {
  color: rgb(255, 255, 255);
  padding-top: 5px;
  padding-left:10px; 
  font-size: 16px;
  border: none;
  cursor: pointer;
  background: rgba(78,168,184,1) 50%;
}



#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid rgba(78,168,184,1);
}

#myInput:focus {
  outline: 3px solid rgba(78,168,184,1) ;
}

.categories{
  position: relative;
  display: inline-block;
  margin-top: 3px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(78,168,184,1);
  min-width: 230px;
  overflow: auto;
  border: 1px solid rgba(78,168,184,1);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.categories a:hover {
  background-color:rgba(14,103,164,1);
}

.dropdown a:hover {
  background-color:rgba(14,103,164,1);
}

#carrito {
    margin-right: auto !important;
  } 

/*CAROUSEL*/

.show {
  display: block;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 24px;
  height: 24px; 
}

#logoImg {
  margin-left: 1rem;
}

.product_index {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

#cardProduct {
  flex: 0 0 50%;
}