body{
    padding-top: 6rem;
}
form{
    margin:0 auto;
} 
.btncuenta{
    width:100%;
}
footer{
    background: rgb(14,103,164);
    background: linear-gradient(90deg, rgba(14,103,164,1) 0%, rgba(78,168,184,1) 50%, rgba(78,168,184,1) 100%);
    position: relative;
    bottom: 0;
    width: 100%;
}
#reg {
    width:50%;
}

#navBarStyle {
    background: rgb(14,103,164);
    background: linear-gradient(90deg, rgba(14,103,164,1) 0%, rgba(78,168,184,1) 50%, rgba(78,168,184,1) 100%);
}

.footerContainer {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}